/* styles-components-main for basic elements */

@import "custom.css";

/* styles-components-main for pages */


html, body {
  height: 100%;
  position: relative;
  font-size: 1rem;
  font-family: 'Roboto', sans, sans-serif;
  color: #212529;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  margin: 0;
}

.plp-theme {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
}

.login-dropdown {
  display: none;
  z-index: 1000;
}

.display-none {
  display: none;
}

.footer-custom .subscribe-widget {
  margin-left: 63px;
  margin-top: 0;
}

.footer-custom {
  padding: 20px 0;
  background-color: #f8f8f8;
  width: 100%;
}

/* CSS variables */

:root {
  --main-color-blue: #489acc;
  --main-color-dark-blue: #3e87b3;
  --header-color-dark: #394553
}

