@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Condensed Light'), 
       local('RobotoCondensed-Light'), 
       url(Roboto-Condensed/RobotoCondensed-Light.ttf)
       format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Condensed Light Italic'), 
       local('RobotoCondensed-LightItalic'), 
       url(Roboto-Condensed/RobotoCondensed-LightItalic.ttf)
       format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed Regular'), 
       local('RobotoCondensed-Regular'), 
       url(Roboto-Condensed/RobotoCondensed-Regular.ttf)
       format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed Regular Italic'), 
       local('RobotoCondensed-RegularItalic'), 
       url(Roboto-Condensed/RobotoCondensed-RegularItalic.ttf)
       format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Condensed Bold'), 
       local('RobotoCondensed-Bold'), 
       url(Roboto-Condensed/RobotoCondensed-Bold.ttf)
       format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Condensed Bold Italic'), 
       local('RobotoCondensed-BoldItalic'), 
       url(Roboto-Condensed/RobotoCondensed-BoldItalic.ttf)
       format('woff2');
}

